<div class="control-section">
  <div align='center'>
      <ejs-chart style='display:block;' [chartArea]='chartArea' [width]='width' align='center' id='chartcontainer' [primaryXAxis]='primaryXAxis'
          [primaryYAxis]='primaryYAxis' [legendSettings]='legendSettings'
          [title]='title' [tooltip]='tooltip' >
          <e-series-collection>
              <e-series [dataSource]='data' type='Column' xName='year' yName='gold' name='Gold' 
              width=2 [marker]='marker1'> </e-series>
              <e-series [dataSource]='data2' type='Line' xName='year' yName='gold'  name='Sales' [marker]='marker2'></e-series>
              
          </e-series-collection>
      </ejs-chart>
  </div>
  
</div>
<style>
  .control-section {
      min-height: 450px;
  }
</style>